/* General Styles */
html {
    font-size: 14px;
    height: 100%;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
}

/* Header Styles */
.navbar {
    padding: 0.75rem 1rem;
}

.navbar-brand {
    font-size: 1.5rem;
    font-weight: bold;
}

/* Footer Styles */
.footer {
    margin-top: auto;
    width: 100%;
    text-align: center;
    padding: 10px 0;
    position: relative;
}

/* Button Styles */
.btn-outline-light {
    border: 1px solid white;
    color: white;
}

    .btn-outline-light:hover {
        background-color: white;
        color: #0056b3;
    }

/* Forms & Inputs */
input, select, textarea {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button {
    margin-top: 10px;
}

/* Tables */
table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

th, td {
    border: 1px solid #ddd;
    padding: 10px;
    text-align: left;
}

th {
    background-color: #007bff;
    color: white;
}

/* Responsive Design */
@media (max-width: 768px) {
    .navbar-nav {
        text-align: center;
    }
}

.today-highlight {
    background-color: #ffeb3b !important; /* Example: Yellow background for today's date */
    color: #000; /* Text color */
}
